body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f6f9;
    color: #333;
}

h1 {
    color: #1a73e8;
}

h2 {
    margin-top: 30px;
    color: #222;
}


img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
